@media (orientation:landscape) {
	#left_container {
		display: inline-block;
		width: calc(100vw/2 - 50vmin);
		height: 100vh;
		/*border: 1px black solid;*/
	}
	#right_container {
		display: inline-block;
		width: calc(100vw/2 - 50vmin);
		height: 100vh;
		/*border: 1px black solid;*/
	}
	#top_container { display: none; }
	#bottom_container { display: none; }
}

@media (orientation:portrait) {
	#top_container { 		
		display: inline-block;
		width: 100vw;
		height: calc(100vh/2 - 50vmin);
		/*border: 1px black solid; */
	}
	#bottom_container { 		
		display: inline-block;
		width: 100vw;
		height: calc(100vh/2 - 50vmin);
		/*border: 1px black solid; */
	}
	#left_container { display: none; }
	#right_container { display: none; }
}

/********************************* GENERAL *********************************/
/***************************************************************************/
html {
	margin: 0vmin;
	padding: 0vmin;
}

body {
	margin: 0vmin;
	padding: 0vmin;
	background-color: #efefef;
	width: 100%;
	height: 100%;

	font-family: 'Verdana', sans-serif;
	font-weight: 100;
	font-size: 0vmin; /* removes vertical space */
	letter-spacing: 0.2vmin;

	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */

	/*border: 1px black solid;*/
}

#center_container {
	display: inline-block;
	position: relative;
	width: 100vmin;
	height: 100vmin;
	/*border: 1px black solid;*/
}

h2 {
	display: flex;
	align-items: center; /* Location of items vertically */
	align-content: left; /* Space between items */
	justify-content: left; /* Location of items horizontally */
	margin: 0vmin;
	padding: 0vmin;
	
}

ul {
	margin: 0vmin;
	padding: 0vmin;
	margin-top: 0.5vmin;
	display: none;
	list-style-type: none;
	font-size: 2vmin;
}

li {
	margin: 0vmin;
	padding: 0vmin;
}

/********************************** STACK **********************************/
/***************************************************************************/
#stack_container {
    position: absolute;
	left: calc(50% - 10vmin);
	width: 20vmin;
	top: calc(50% - 10.75vmin);
	height: 21.5vmin;
	/*border: 1px black solid;*/
}

#stack {
	padding-top: 1vmin;
	padding-left: 1vmin;
	padding-right: 1vmin;
	padding-bottom: 1vmin;

    cursor: pointer;

    text-align: center;

	border-bottom: 0.2vmin #bfbfbf solid;
	border-left: 0.2vmin #bfbfbf solid;
	border-right: 0.2vmin #bfbfbf solid;
	/*border: 1px black solid;*/
}

.stack_item {
	display: inline-block;
	vertical-align: top;
	/*border: 1px black solid;*/
}

#about h2 {
	font-size: 4.2vmin;
	line-height: 3.2vmin;
}
#about h2 .return_svg {
	height: 3.2vmin;
}

#career h2 {
	font-size: 3.6vmin;
	line-height: 3.2vmin;
}
#career h2 .return_svg {
	height: 3.2vmin;
}

#academic h2 {
	font-size: 2.6vmin;
	line-height: 2.5vmin;
}
#academic h2 .return_svg {
	height: 2.5vmin;
}

#projects h2 {
	font-size: 2.7vmin;
	line-height: 2.5vmin;
}
#projects h2 .return_svg {
	height: 2.5vmin;
}

#creative h2 {
	font-size: 2.8vmin;
	line-height: 2.6vmin;
}
#creative h2 .return_svg {
	height: 2.6vmin;
}

#resume h2 {
	font-size: 3.5vmin;
	line-height: 2.8vmin;
}
#resume h2 .return_svg {
	height: 2.8vmin;
}

#contact h2 {
	font-size: 3.0vmin;
	line-height: 2.9vmin;
}
#contact h2 .return_svg {
	height: 2.9vmin;
}



.return_svg {
	display: none;
	height: 2.2vmin;
	cursor: pointer;
}

.stack_label {
	text-align: center;
	color: #bfbfbf;
	font-size: 2vmin;
}

#stack_label_text {
	cursor: pointer;
}
#stack_label_text:hover {
	border-bottom: dotted 1px #bfbfbf;
}

/********************************* FREE ITEM CSS *********************************/
/*********************************************************************************/
.free_item {
	/*cursor: pointer;*/
}
