{% extends 'about/base.html' %}
{% load static %}


{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'fabian/css/fabian.css' %}"/>
{% endblock %}

{% block javascript %}
  <script src="{% static 'fabian/js/fabian.js' %}"></script>
{% endblock %}


{% block content %}

  <div id='top_container'></div><div id='left_container'></div><div id='center_container'>
    <div id='stack_container'>
      <div id='stack'>
        <div id='about' class='stack_item'>
          <h2>ABOUT<img class="return_svg" src="{% static 'fabian/images/return.svg' %}"></h2>
          <ul>
            <a href="{% static 'fabian/media/bio.pdf' %}"><li>Bio</li></a>
            <a href='https://www.linkedin.com/in/fabianlindfieldroberts'><li>LinkedIn</li></a>
          </ul>
        </div>
        <div id='career' class='stack_item'>
          <h2>CAREER<img class="return_svg" src="{% static 'fabian/images/return.svg' %}"></h2>
          <ul>
            <a href='https://www.seatswaptickets.com/'><li>SeatSwap</li></a>
            <a href='https://macedontechnologies.com/'><li>Macedon Technologies</li></a>
          </ul>
        </div>
        <div id='academic' class='stack_item'>
          <h2>ACADEMIC<img class="return_svg" src="{% static 'fabian/images/return.svg' %}"></h2>
          <ul>
            <a href=''><li>Independent Research</li></a>
            <a href=''><li>Undergraduate Thesis</li></a>
          </ul>
        </div>
        <div id='projects' class='stack_item'>
          <h2>PROJECTS<img class="return_svg" src="{% static 'fabian/images/return.svg' %}"></h2>
          <ul>
            <a href='https://www.collegesnaps.org/'><li>CollegeSnaps</li></a>
            <a href=''><li>Legable</li></a>
          </ul>
        </div>
        <div id='creative' class='stack_item'>
          <h2>CREATIVE<img class="return_svg" src="{% static 'fabian/images/return.svg' %}"></h2>
          <ul>
            <a href='https://www.plopolop.com/'><li>Plopolop</li></a>
          </ul>
        </div>
        <div id='resume' class='stack_item'>
          <h2>RESUME<img class="return_svg" src="{% static 'fabian/images/return.svg' %}"></h2>
          <ul>
            <a href="{% static 'fabian/media/resume.pdf' %}"><li>resume.pdf</li></a>
          </ul>
        </div>
        <div id='contact' class='stack_item'>
          <h2>CONTACT<img class="return_svg" src="{% static 'fabian/images/return.svg' %}"></h2>
          <ul>
            <li>folr@icloud.com</li>
            <li>9179167352</li>
          </ul>
        </div>
      </div>
      <div class='stack_label'>
        <span id="stack_label_text">Pop the Stack</span>
      </div>
    </div>
  </div><div id='bottom_container'></div><div id='right_container'></div>

{% endblock %}

