/*****************************************************/
/* Index                                             */
/*****************************************************/

#page_container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	font-size: 50px;
	font-weight: 900;
}

#game_container {
	text-align: center;
}

#guinness500 {
	height: 200px;
}