{% extends 'about/base.html' %}
{% load static %}


{% block stylesheet %}

	<link rel="stylesheet" type="text/css" href="{% static 'about/css/dashboard.css' %}"/>

{% endblock %}

{% block javascript %}

	<script src="https://d3js.org/d3.v6.min.js"></script>
	<!-- Access to static files from JS -->
	<script> 
		// json files to be included in js
		var graphDataJSON = "{% url 'minutes_by_day' 'appalachia' %}";
		var statsDataJSON = "{% url 'summary_stats' 'appalachia' %}";
		var entriesDataJSON = "{% url 'all_entries' 'appalachia' %}";
		// images to be included in js
		var fabooHeadPNG = "{% static 'about/images/fabian_head200.png' %}";
		var daddyHeadPNG = "{% static 'about/images/daddy_head200.png' %}";
	</script>
	<!-- Build chart using D3.js -->
	<script src="{% static 'about/js/dashboard.js' %}"></script>

{% endblock %}


{% block content %}
	<div class="page_container">
		
		<div class="content_container">
			<div id="tabs">
				<button 
					type="button" 
					id="graphs_button" 
					{% if not showFormTab %}
						class="active"
					{% endif %}
				>Graphs</button>
				<button type="button" id="stats_button">Stats</button>
				<button type="button" id="rules_button">Rules</button>
				<button 
					type="button" 
					id="submit_button" 
					{% if showFormTab %}
						class="active"
					{% endif %}
				>Submit</button>
			</div>
			<div 
				{% if showFormTab %}
					class="hidden_on_load" 
				{% endif %}
				id="graph_container"
			>
				<div id="graph">Graph coming soon...</div>
			</div>
			<div class="hidden_on_load" id="stats_container"></div>
			<div class="hidden_on_load" id="rules_container">{{ rules }}</div>
			<div 
				{% if not showFormTab %}
					class="hidden_on_load" 
				{% endif %}
				id="submit_container"
			>
				<div id="error">
					{% if form.errors %}
					    {% for field in form %}
					        {% for error in field.errors %}
					            {{ error|escape }}<br>
					        {% endfor %}
					    {% endfor %}
					    {% for error in form.non_field_errors %}
					        {{ error|escape }}<br>
					    {% endfor %}
					{% endif %}
				</div>
				<form action="{{ action }}" method="post">
					{% csrf_token %}
					<input class="text_input" type="text" placeholder="Enter Name" name="userName" maxlength="50" required><br>
					<input class="text_input" type="password" placeholder="Enter Password" name="password" maxlength="50" required><br>
					<input class="text_input" type="text" placeholder="Comment (Optional)" name="comment" maxlength="50"><br>
					<select name="duration" id="duration">
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="15">15</option>
						<option value="20">20</option>
						<option value="25">25</option>
						<option value="30">30</option>
						<option value="35">35</option>
						<option value="40">40</option>
						<option value="45">45</option>
						<option value="50">50</option>
						<option value="55">55</option>
						<option value="60">60</option>
						<option value="90">90</option>
						<option value="120">120</option>
					</select><br>
					<input id="attestation" name="attestation" type="checkbox"> <label for="attestation">{{attestation}}</label><br>
					<input id="form_submit_button" value="Submit" type="submit">
				</form>
			</div>
		</div>
	</div>



{% endblock %}